body{
	background-color: white;
	font-family: sans-serif;
	margin:0;
	color:#262626; /* Main text color*/
}

a{
	color:#262626; /* Main text color*/
}

h1{
	font-family: "Courier New";
}

h2 {
	font-size:30px; 
}
#header {
	width:100%;
    text-align:center; 
    font-size:50px; 
	background-image: url("../images/general/banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #5c006d;
	padding-top: 0;
	padding-bottom: 20pt;
	overflow:visible;
	margin:0;
	color: white;
	border-style: hidden hidden solid hidden;
	border-width: 4px;
	border-color: #262626;
}

#header h1{
	text-shadow: 0 0 5px black, 0 0 7px black;
}

#header img {
	width: 150px;
	border-radius: 50%;
	margin:auto;
	margin-top: -35pt;
	margin-bottom:-75pt;
	border-style: solid;
	border-width: 4px;
	border-color: #262626;
}

#main_box{
	max-width: 700px;
	margin: auto;
	margin-top:0pt;
	padding-top: 60pt;
	padding-left: 30pt;
	padding-right: 30pt;
	padding-bottom: 50pt;
	background-color: white;
	border-style: hidden solid hidden solid;
	border-color: #e6e6e6;
	min-height: calc(100vh - 350px);
}
#logo{
	-webkit-transition: transform 1s ease-in-out;
	-moz-transition: transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
	-ms-transition: transform 1s ease-in-out;
}
#logo:hover {
	-webkit-transform: rotate(380deg);
	-moz-transform: rotate(380deg);
	-o-transform: rotate(380deg);
	-ms-transform: rotate(380deg);
}

#video_soon {
	font-size:1.1em;
	margin: auto;
	margin-top: 10pt;
	margin-bottom: 10pt;
	width: 10em;
	background: #e52d27; /*YouTube red colour*/
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 0.5em;
	border-radius: 20pt;
	box-shadow: 4px 4px 7px grey;
}

/* Sub box */

.subbox{
	width: 100%;
	background-color:#ffe6f2;
	border-style: solid;
	border-color: #262626;
	border-width: 2px;
	margin-bottom: 10pt;
}

.subbox h3{
	margin: 0;
	padding:10pt;
	border-style: none none solid none;
	border-color: #262626;
	border-width: 2px;
	background-color: #ffb3d9;
	
}

.subbox p{
	font-size: 1.1em;
	padding-left: 1em;
	padding-top: 0px;
	padding-bottom: 0px;
}

.problems {
	margin:0 3em;
}



/* Set MathJax margin */
.subbox mjx-container[display="true"]{
    margin: .2em 0 ! important
}

