.article {
  margin: auto; 
  float: center;
  font-size: 20px;
  width: 100%;
  max-width: 1000px;  
  font-family: Verdana, Geneva, sans-serif;
  border: 0px solid #ccc;
}

.article p {
    margin-left: 30px;
}

.artileTitle {
 margin-top:50pt;
 font-size:40px;
 text-shadow: 1px 1px lightgray;
 text-align: center;
}